@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root {
    
    
    --white-color: #ffffff;
    --red-color: #a40101;
    --blue-color: #2ca3ab;
    --blue2-color: #2ca3ab9b;
    --grey-color: #c4c4c4;
    --orange-color: #ca5714;
    --orangelight-color: #e47c40;
    --darkblue-color: #1d1b45;
    --darkbluelight-color: #1d1b45d8;
    --lightblue-color: #a8dde0;
    --dark-color: #191919;
}


/*Estilos Index*/

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    font-size: 14px;
}

header{
    display: flex;
    flex-direction: column;
    padding: 0 40px 0 80px;
}

.info-contact{
    display: flex;
    max-width: 300px;
    align-items: flex-start;
    margin-right: 10px;
}

.info-contact i{
    color:var(--white-color);
    margin-right: 30px;
    background-color: var(--orange-color);
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 2px 3px var(--black-color);
}

.info-p p{
    margin:0 0 4px;
}

.bton-login{
    background-color: var(--orange-color);
    color: var(--dark-color);
    border-radius: 10px;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
}

.bton-login i{
    margin-left: 5px;
}

.bton-login:hover, .bton-ingresar:hover{
    background-color: #2f2c6d;
    transform: translateY(-0.5px);
    box-shadow: 0px 2px 3px var(--black-color);
    cursor: pointer;
    color: var(--white-color);
}

.h-pte1{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 20px;
}

.inf-pte1{
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-right: 20%;
}

.imgenes{
    display: flex;
    width: 27%;
    justify-content: space-between;
}

.h-pte2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h-pte2 i{
    font-size: 50px;
    color: var(--orange-color);  
}

.syrin{  
    margin-top: 0;
}

#banner{
    display: flex;
    flex-direction: column;  
    justify-content: center;
}

.bg-banner{
    background-image: url(../img/2.\ medico.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 540px;
}

.conten-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 60%;
    text-align: center;
}

.conten-banner h2{
    color: var(--orange-color);
    font-size: 40px;
    margin: 0;
}

.conten-banner h1{
    font-size: 60px;
    margin: 0;
}

.franja img{
    width: 100%;
}

.fa-ul li{
    margin: 10px;
}
.fa-ul li i{
    color: var(--red-color);
    font-size: 20px;
}

.bg-cov{
    background-image: url(../img/4.\ covid.svg);
    display: flex;
    padding: 0 60px;
    justify-content: space-around;
}

.title-cov{
    display: flex;
    align-items: center;
}

.signos img{
    width: 30px;
    margin-right: 10px;
}

.que-hacer img{
    width: 35px;
    margin-right: 5px;
}

.oms img{
    width: 120px;
    margin-left: 100px;
}

.oms a{
    margin-left: 30px;
}
.signos{
    width: 500px;
    margin: 20px;
    padding: 20px;
    text-align: justify;
    font-size: 120%;
}

.que-hacer{
    width: 500px;
    margin: 20px;
    padding: 20px;
    text-align: justify;
    font-size: 120%;
}

.sec-covicho{
    background-color: #191919bd;
}

.sec-covicho p{
    background-color: var(--dark-blue-color);
    color: white;
    padding: 10px 5px;
    margin:0 0 10px;
}

.sec-covicho p:hover{
    background-color: var(--dark-color);
}

footer{
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 3px 0 40px;
    text-align:center;
    font-size: 11px;
}




/*Estilos Table Pacientes*/
body{
    font-family: 'Poppins', sans-serif;
}

.frm-search {
    display: flex;
    margin: 20px 0;
    margin-top: 80px;
    margin-right: 50px;
    justify-content: right;
    }

.frm-search input[type="text"] {
    display: flex;
    padding: 10px;
    border: 3px solid var(--blue-color);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 2px;
}

.frm-search button {
    background-color: var(--darkblue-color);
    color: var(--white-color);
    border-radius: 10px;
    border: 3px solid var(--blue-color);
    cursor: pointer;
}
.frm-search button:hover {
    background-color: var(--darkbluelight-color);
    color: var(--blueinputs-color);
    border-radius: 10px;
    border: 3px solid var(--blue-color);
}
.pacientes {
    margin: 80px;
}

.tabla-pacientes h1 {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    margin-bottom: 80px;
}

.tabla-pacientes a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;

}



.b-naranja {
    background-color: var(--orange-color);
    border-radius: 10px;
    border-color: var(--blue-color);
    font-weight: bold;
    cursor: pointer;
    margin: 50px;
    color:var(--white-color);
    text-decoration: none;
    
    }

.b-naranja:hover {
    background-color:var(--orangelight-color) ;
    transition: all 1s ;
    }

table {
    width: 100%;
    border: 3px solid var(--blue-color);
    border-collapse: collapse; 
}

table th {
    border: 3px solid var(--blue-color);
    background-color: var(--darkblue-color);
    color: var(--white-color);
    padding: 7px 0;
}

table td {
    padding: 10px;
    border: 2px solid var(--blue-color);
    background-color: var(--grey-color);
    text-align: center;
    
}

.b-azul{
    background-color: var(--blue-color);
    border-radius: 3px;
    border-color: var(--blue-color);
    font-weight: bold;
    cursor: pointer;
    color:var(--black-color);
    text-decoration: none;
    height: 35px;
    
    

}

.b-azul :hover{
    background-color:var(--blue2-color) ;
    transition: all 1s ;
}

.icon1{
    color:var(--black-color);
    padding-left: 5px;

}
.b-rojo{
    background-color: var(--red-color);
    border-radius: 3px;
    border-color: var(--red-color);
    font-weight: bold;
    cursor: pointer;
    color:var(--white-color);
    text-decoration: none;
    height: 35px;
    

}

.b-rojo :hover{
    background-color:var(--red-color) ;
    transition: all 1s ;
}

.icon2{
    color:var(--white-color);
    padding-left: 5px;

}






/*Estilo Form Pacientes*/
.encabezado {
    background-color: var(--dark-color);
    display: flex;
    padding: 30px 5px;
    justify-content: space-between;
    }

.encabezado img {
margin: auto;
}

#btnform {
display: flex;
}

.btnformuno {
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 50%;
    font-size: 30px;
    border: 2px solid var(--blue-color);
    color: var(--dark-color);
}

.fotohead img {
    width: 100%;
    border-bottom: 6px solid var(--blue-color);
}

#tituno {
    background-color: var(--darkblue-color);
    text-align: center;
    border-radius: 4px;
    color: white;
    font-weight: 100;
    padding: 5px;
    font-size: 22px;
    }

#borform {
    border: 1px solid var(--darkblue-color);
    margin: 50px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cajaf {
    display: flex;
    justify-content: center;
    background-color: var(--grey-color);
    margin: 25px 25px 5px 25px;
    border-radius: 10px;
    border: 1px solid var(--darkblue-color);
    padding: 15px;
}

.bar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--blue-color);
    width: 99%;
    border: 1px solid var(--darkblue-color);
    border-radius: 4px;
    height: 30px;
    margin: auto;
    }

.bar img {
    width: 20px;
    height: 20px;
    }
.bar1 {
    font-size: 16px;
    font-weight: 100;
    padding: 0 590px;
    }

.bar2 {
    font-size: 16px;
    font-weight: 100;
    padding: 0 550px;
}

.bar3 {
    font-size: 16px;
    font-weight: 100;
    padding: 0 590px;
}

.initial input {
    width: 300px;
    height: 30px;
    border: 1px solid #2ca3abd5;
    margin: 10px 10px 10px 20px;
    padding: 0 10px;
    color: gray;
}

.datosp {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.datosp input {
    width: 686px;
    height: 30px;
    border: 1px solid #2ca3abd5;
    margin: 10px 20px;
    padding: 0 10px;
    color: gray;
}

.datosp select {
    width: 708px;
    height: 30px;
    border: 1px solid #2ca3abd5;
    margin: 10px 18px;
    color: gray;
    padding: 0 8px;
}

.datosp {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pr input {
    width: 25%;
    height: 30px;
    border: 1px solid var(--blue2-color);
    margin: 10px 10px;
    padding: 0 10px;
    color: gray;
}

.pr select {
    width: 33%;
    height: 30px;
    border: 1px solid var(--blue2-color);
    margin: 10px 15px 10px 20px;
    color: gray;
}

.radio {
    font-size: 16px;
    color: gray;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.opradio {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    padding: 10px;
}

#borform button {
    margin: 10px auto 60px;
    background-color: var(--darkorange-color);
    width: 8%;
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    font-weight: 100;
}

#ftform {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: var(--dark-color);
    color: var(--white-color);
    align-items: flex-start;
    justify-content: center;
    font-size: 14px;
    font-weight: 100;
    }

    
