@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    
    
  --white-color: #ffffff;
  --red-color: #a40101;
  --blue-color: #2ca3ab;
  --blue2-color: #2ca3ab9b;
  --grey-color: #c4c4c4;
  --orange-color: #ca5714;
  --orangelight-color: #e47c40;
  --darkblue-color: #1d1b45;
  --darkbluelight-color: #1d1b45d8;
  --lightblue-color: #a8dde0;
  --dark-color: #191919;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/10.png);
}

main{
    display: flex ;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;

}

label{ 
    padding: 5px;

}

input{
    width: 70%;
    background-color: #E9F6F7;
    border: 2px solid #cee7e9 ;
    border-radius: 10px;
    padding-top: 18px;
    font-size:medium;
    text-align: center;
}

.container{
    background-color: white;
    border-radius: 15px;
    margin:100px;
    margin-left:300px;
    margin-right: 300px;
}

.logo{
    text-align: center;
    background-color: #A8DDE0;
    padding: 40px 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.button-regresar{
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: -10px;
    left: 115px;
    background-color:  #1d1b45;
    border: 2px solid #2ca3ab;
    border-radius: 15px;
    color: white;
    padding: 10px ;
    margin-top: 100px ;
    text-align: center;
    cursor: pointer;
}

.button-regresar:hover{
    background-color: var(--blue-color);

}




.login-form{
    padding-top: 10px;
}

.login-enviar {
    display:flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 15px;
    text-decoration: none;
}

.login-enviar__anchor{
    font-size: small;
}

.buttonenviar{
    margin-left: 320px;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 30%;
    padding: 3px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--orange-color);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.buttonenviar :hover{
    background-color:var(--orangelight-color) ;
    transition: all 1s ;
    
    }



#ftform {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: var(--dark-color);
    color: var(--white-color);
    align-items: flex-start;
    justify-content: center;
    font-size: 14px;
    font-weight: 100;
    }
